* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


:root {
    --border-radius: 15px;
    --shadow: #64646f33 0px 0px 29px 0px;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container {
    width: 500px;
    height: 650px;
    box-shadow: var(--shadow);
    padding: 20px;
    border-radius: var(--border-radius);
}

.todolist_header {
    box-shadow: var(--shadow);
    height: 200px;
    border-radius: var(--border-radius);
    padding: 20px;
}

#todo_form {
    display: flex;
    align-items: center;
    gap: 20px;
}


.todo_form_div {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
}

#inputs {
    width: 100%;
    height: 80%;
    font-size: 18px;
    color: rgb(23, 202, 23);
    padding: 0px 10px;
    outline: none;
    border: none;
}

#input_value_remove {
    margin: 5px;
    cursor: pointer;
    color: red;
    font-size: 24px;
}

.form_btn {
    width: 130px;
    height: 50px;
    background-color: rgb(23, 202, 23);
    border: 1px solid transparent;
    transition: .5s;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form_btn:hover {
    border: 1px solid rgb(23, 202, 23);
    background-color: transparent;
    transition: .5s;
    color: rgb(23, 202, 23);
}


#delete_all_btn {
    width: 120px;
    height: 50px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: .5s;
    background-color: rgb(183, 40, 40);
    border: 1px solid transparent;
    font-size: 18px;
    margin-top: 60px;
}

#delete_all_btn:hover {
    border: 1px solid rgb(183, 40, 40);
    color: rgb(183, 40, 40);
    background-color: transparent;
    transition: .5s;
}


.todo_task {
    width: 100%;
    height: 390px;
    margin: 20px 0px;
    overflow: auto;
}


.cards {
    width: 100%;
    height: 150px;
    background-color: rgb(238, 235, 235);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
}


.task_name {
    color: green;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 0px;
}


.btn_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}


.complite_btn {
    width: 90px;
    border: none;
    color: white;
    font-size: 18px;
    height: 60px;
    background-color: rgb(14, 205, 14);
    border-radius: 10px;
    cursor: pointer;
}

.edit_btn {
    width: 90px;
    border: none;
    color: white;
    font-size: 18px;
    height: 60px;
    background-color: gold;
    border-radius: 10px;
    cursor: pointer;
}

.time_btn {
    width: 90px;
    border: none;
    color: white;
    font-size: 18px;
    height: 60px;
    background-color: rgb(20, 119, 225);
    border-radius: 10px;
    cursor: pointer;
}

.delete_btn {
    width: 90px;
    border: none;
    color: white;
    font-size: 18px;
    height: 60px;
    background-color: rgb(228, 72, 72);
    border-radius: 10px;
    cursor: pointer;
}


.task_comiplite {
    background-color: purple;
    text-decoration: line-through;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}